* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Rubik", serif;
  background-color: var(--background-color);
  position: relative;
}

:root {
  --main-color: rgb(187, 64, 255);
  --main-color-two: rgb(202, 65, 255);
  --background-color: rgb(237, 237, 239);
  --font-size: 16px;
  --text-color: rgb(172, 144, 192);
  --text-color2: rgb(255, 197, 255);
  --bottom-color: rgb(62, 39, 83);
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 600px;
  position: relative;
}

.main:before {
  content: "";
  width: 600px;
  height: 500px;
  left: -300px;
  top: 0;
  background-color: var(--main-color);
  position: absolute;
  border-radius: 0 0 300px 300px;
  z-index: -1;
  

}

.main:after {
  content: "";
  width: 300px;
  height: 500px;
  background-color: var(--main-color);
  position: absolute;
  z-index: -1;
  opacity: .1;
  bottom: 0;
  right: 0;
  border-radius: 150px 150px 0 0;
}

.container {
  width: 375px;
  background-color: var(--background-color);
  border: 15px solid white;
  padding-bottom: 25px;
  border-radius: 40px;
  margin: 100px 0 auto;
}

.Top {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-image: linear-gradient(to right, rgb(223, 79, 255), rgb(164, 61, 255));
  padding: 30px 25px 10px 15px;
  border-radius: 20px 20px 10px 10px;
  position: relative;
}

.Top:before {
  content: "";
  width: 60%;
  height: 30px;
  position: absolute;
  background-color: white;
  top: -1px;
  left: 20%;
  border-radius: 0 0 20px 20px;
  z-index: 4;
}

.img1 {
  width: 40px;
  border-radius: 50%;
  margin-left: 5px;
  border: 1px solid white;
}

.w {
  flex: 1;
  margin-left: 20px;
}

.g,
.G {
  color: white;
  font-size: 20px;
}

.head {
  font-size: 22px;
  color: white;
  padding: 5px 0;
}

.A {
  color: var(--text-color2);
  font-size: 14px;
}

.text {
  background-color: rgb(237, 228, 245);
  width: fit-content;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 10px;
  color: var(--main-color);
}

.img {
  display: flex;
  justify-content: flex-end;

}

.logo {
  width: 50px;
  border-radius: 10px;
  margin-right: 15px;
  margin-top: 10px;
}

.tt {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 105px;
  background-color: white;
  width: 225px;
}

.ttt {
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 180px;
  background-color: white;
  font-size: 16px;
  width: 150px;
}

.ty {
  background-color: rgb(237, 228, 245);
  width: fit-content;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  margin-left: 10px;
  color: var(--main-color);
}

.op1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  padding: 10px;
  background-image: linear-gradient(to right, rgb(223, 79, 255), rgb(164, 61, 255));
  margin-top: 10px;
  border-radius: 10px;
  margin-left: 10px;
}

span {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid white;
}

.op1 p {
  margin-right: 30px;
  color: var(--text-color2);
  font-size: 16px;
}

.op1 .num {
  font-size: 20px;
  color: black;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  border-radius: 20px;
  margin-left: 10%;
  background-color: white;
  padding: 5px 10px;
  width: 80%;
}

input {
  border: none;
  flex: 4;
  outline: none;
}

.K {
  background-color: var(--bottom-color);
  border-radius: 50%;
  font-size: 20px;
  color: white;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

.footer h1 {
  font-size: 50px;
  font-weight: bold;
  color: var(--bottom-color);
}
@media (min-width: 600px) {
  .footer h1{
   align-self: flex-start;
   padding-left: 10px;
    
  }
}
.footer p {
  line-height: 1.6;
  font-size: 16px;
  color: gray;
  
}
@media (max-width: 600px) {
  .footer p{
    text-align: center;
  }
}

@media (min-width: 600px) {
  .main {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 1440px;
    flex-direction: row;
  }

  .footer {
    width: 480px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .footer p{
        font-size: 25px;
        
  }
  .main:before{
    width: 475px;
    border-radius: 0 0 237.5px 237.5px  ;
    left:0;
    top:0;
  }
  .main:after{
    width: 475px;
    border-radius: 237.5px 237.5px 0 0;
  }
  
}